<footer class="container">
	<div class="row d-flex justify-content-around">
		<div class="col-sm-6">
			<p>Copyright &copy; 2017 Zakeria Ali</p>
		</div>
		<div class="col-sm-6">
			<a href="https://github.com/zakali22"><i style="color: black; margin-right: 20px;" class="fa fa-github"></i></a>
			<a href="https://www.linkedin.com/in/zakeria-ali-2b543a107/"><i style="color: black" class="fa fa-linkedin"></i></a>
		</div>
	</div>
</footer>
